@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Add ToDo</h3>

<form method="post" asp-page-handler="AddTodo"> 
    <input type="text" asp-for="NewTodo.Title" placeholder="Add a new ToDo" />
    <button type="submit">Add</button> 
    <span asp-validation-for="NewTodo.Title" class="text-danger"   ></span>
</form>

<h3>Delete All Completed</h3>

<form method="post" asp-page-handler="DeleteCompletedTodos">
    <button type="submit">Delete Completed</button>
</form>

<h3>ToDo List</h3>

<ul>
    @foreach (var todoItem in Model.TodoItems)
    {
        <form method="post" asp-page-handler="ToggleTodoIsComplete">
        <input type="hidden" name="id" value="@todoItem.Id" />
        <input type="checkbox" asp-for="@todoItem.IsComplete" onchange="this.form.submit();"/>
        @todoItem.Title
        </form>
    }
</ul>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
